.navbar{
    display: inline-block;
    background-color:#C7CFD2;
    height: 100px;
    width: 100.45%;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    padding-bottom: 20px;
}
.navbar ul{
    list-style: none;
    font-family: 'Brush Script MT', cursive;
    display: inline-block;
    margin-left: 20%;
}
.navbar ul li {
    display:inline-flex;
    /* padding-right: 30px; */
    margin-right: 30px;
    font-size: 20px;
    
    text-align: center;
}
.navbar ul li a{
    color: rgb(50, 50, 50);
    text-decoration:none;
    font-style: oblique;
    font-weight: bold;
    margin-top: 50px;
}
.navbar a{
    
}
body{
    color: gray;
}
.welcome{
    display: inline-block;
    width: 10%;
    margin-top: 15px;
    margin-left: 50px;
    position: absolute;
    font-family: 'Best Signature Font', sans-serif;
    color:  black;
    font-weight: bold;
    font-size: 75px;
}
.content{
    text-align: center;
    padding: 25px;
}
.homeBG{
    position: absolute;
    height: 50%;
    width: 75%;
    z-index: -1;
    margin-left: -38%;
}