.navbar{
    display: inline-block;
    background-color:#C7CFD2;
    height: 100px;
    width: 100.45%;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
    padding-bottom: 20px;
}
.navbar ul{
    list-style: none;
    font-family: 'Brush Script MT', cursive;
    display: inline-block;
    margin-left: 20%;
}
.navbar ul li {
    display:inline-flex;
    /* padding-right: 30px; */
    margin-right: 50px;
    font-size: 20px;
    
    text-align: center;
}
.navbar ul li a{
    color: rgb(50, 50, 50);
    text-decoration:none;
    font-style: oblique;
    font-weight: bold;
    margin-top: 50px;
}
.navbar a{
    opacity: 0.7;
    transform: scale(1);
    transition: all 0.4s;
}
.navbar a:hover{
    opacity: 1;
    transform: scale(1.5);
}
body{
    color: gray;
}
.welcome{
    display: inline-block;
    width: 10%;
    margin-top: 15px;
    margin-left: 50px;
    position: absolute;
    font-family: 'Best Signature Font', sans-serif;
    color:  black;
    font-weight: bold;
    font-size: 75px;
}
.home{
    width: 75%;
    height: auto;
    margin-top: 25px;
    margin: auto;
    /* text-align: center; */
    padding: 25px;
    z-index: -1;
    color:  black;
    font-family: 'Brush Script MT', cursive;
}
.home div {
    display: inline-block;
    text-align: left;
}
.mainGif{
    margin-left: 20px;
    margin-top: 20px;
    z-index: -1;
}
.homeBG{
    position: absolute;
    height: 55%;
    width: 75%;
    z-index: -1;
}
.content{
    position: absolute;
    margin-left: 60px;
    margin-top: 50px;
}
.content ul{
    margin-left: -42px;
}
.content ul li{
    text-align: center;
    display: inline-block;
    width: 50px;
    position: relative;
    margin-left: -10px;
    list-style: none;
}