div{
    background-color:rgb(244,246,248);
    /*width: auto;
    height: 100px;*/
}
.welcome{
    font-family: 'Best Signature Font', sans-serif;
    font-size: 50;
    margin-left: 75px;
    padding-top: 25px;
}