html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    /* text-align: center; */
}
.wrapper{
    width: 100%;
    margin:auto;
}
.container{
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 10%;
    background: rgb(46, 46, 46);
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: stretch;
    color: rgb(187, 187, 187);
}
.welcome{
    width: 25%;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
}
.links{
    display: flex;
    width: 75%;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}
.links a{
    color: rgb(187, 187, 187);
    height: 100%;
    margin: 0 20px;
    font-size: 25px;
    text-decoration: none;
    padding-top: 4%;
    transform: scale(1);
    transition: all 0.2s;
}
.links a:hover{
    transform: scale(1.5);
}


/******************************************************/
/*                    Section 1                       */
/******************************************************/
.explanation{
    margin: 50px 0;
}
.explanation h1{
    text-align: center;
    font-size: 40px;
}
section{
    margin: auto;
    margin-top: 10px;
    display: flex;
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    width: 320px;
    height: auto;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
}
.content img{
    width: 100%;
}
.content h1{
    width: 95%;
    margin-top: 10px;
}
.content p{
    margin-top: 10px;
}
.playstore{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.playstore input{
    width: 100%;
}
.playstore a{
    display: flex;
    width: 20%;
}
.playstore h2{
    display: flex;
    width: 80%;
    align-self: center;
    text-align: center;
    flex-direction: column;
}

/******************************************************/
/*                    Section 6                       */
/******************************************************/
footer{
    width: 100%;
    height: auto;
    background: rgb(46, 46, 46);
    color: rgb(187, 187, 187);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: left;
    margin-top: 5%;
}
footer h1{
    width: 100%;
    text-align: center;
    padding: 1% 0;
    
}
footer h3{
    text-align: center;
    width: 100%;
    padding-bottom: 1%;
}
footer input{
    width: 35px;
}
.footerBottom{
    margin-bottom: 1%;
}
@media screen and (max-width:1350px){
    section{
        justify-content: center;
    }
    .content{
        width: 400px;
    }
}
@media screen and (max-width:1040px){
    section{
        justify-content: center;
    }
    .content{
        width: 80%;
    }
    .content h1{
        font-size: 50px;
        margin-top: 5%;
    }
    .content p{
        margin-top: 5%;
        font-size: 30px;
    }
    .links{
        display: none;
    }
}